* {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
.ay-toast.service-loading .ay-icon__image {
  animation: spin 2s linear infinite;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}
i.ay-icon {
  position: relative;
  display: inline-block;
}
div.ay-toast__text {
  margin-top: 0;
}
.ay-popup.ay-toast {
  top: 50%;
  left: 0;
  right: 0;
  max-height: 100%;
  position: fixed;
  transition: none !important;
  padding: 0;
  width: 118px;
  min-height: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  box-sizing: content-box;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  word-break: break-all;
  border-radius: 8px;
  max-width: 70%;
  margin: 0 auto;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
